Repository pulilab/TIIP, pull requests merged in 2022-02, with the labels that each got.

#388 [UT03-847] [UT03-843] bugfix/Remove portfolio matrix tab total and DHA logo beside country flag
  frontend/components/common/Tabs.vue
  frontend/components/common/TopBar.vue
Labels: Frontend

#389 1970 fix for start and end date
  frontend/store/project.js
Labels: bug, Frontend

#390 [UT03-838] feat/Refactor phase chart data preparation
  frontend/components/common/ProjectBar.vue
  frontend/components/common/chart/cStages.vue
  frontend/pages/_organisation/initiatives/_id/published/index.vue
  frontend/pages/_organisation/initiatives/_id/published/stages.vue
  frontend/store/charts.js
  frontend/store/project.js
  frontend/utilities/projects.js
Labels: Frontend

#391 [UT03-848] bugfux/Fix Safari table width calculation
  frontend/components/common/TopBar.vue
  frontend/components/common/UserDropdown.vue
  frontend/components/dashboard/MainTable.vue
  frontend/components/landing/parts/Location.vue
Labels: Frontend

#393 [UT03-856] Feat/adding background task execution
  django/project/admin.py
  django/project/models.py
  django/project/resources.py
  django/requirements.txt
  django/tiip/settings.py
  docker-compose.yml
Labels: Backend
