Repository pulilab/TIIP, pull requests merged in 2022-04, with the labels that each got.

#417 [UT03-962] feature/Add tabs to Innovation Performance page
  django/translations/master.pot
  frontend/pages/_organisation/innovation-performance.vue
  frontend/plugins/i18n.js
Labels: Frontend

#418 [UT03-954] Fix/adding new release tag + new app short name
  django/requirements.txt
  django/tiip/settings.py
Labels: bug

#416 [UT03-948][UT03-949] Feat/better admin for solutions and export
  django/project/admin.py
  django/project/resources.py
Labels: Backend

#419 [UT03-972] bugfix/Fix empty donor edge case
  frontend/store/project.js
Labels: Frontend

#412 [UT03-899] Hotfix/removing is_active column from export resource
  django/project/resources.py
Labels: Backend

#422 [UT03-979] feature/Added nested tabs with unique translatable tags
  django/translations/master.pot
  frontend/pages/_organisation/innovation-performance.vue
Labels: Frontend

#420 [UT03-976] bugfix/Fix project button responsiveness
  frontend/components/project/ProjectForm.vue
  frontend/components/project/ProjectNavigation.vue
Labels: Frontend

#387 [UT03-796] [UT03-809] feat/Simple changelog dialog
  django/project/serializers.py
  django/project/tests/project_version_tests.py
  django/project/urls.py
  django/project/views.py
  django/translations/master.pot
  frontend/components/common/Avatar.vue
  frontend/components/common/ProjectBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/project/history/StatusBadge.vue
  frontend/components/project/history/Timeline.vue
  frontend/components/project/history/TimelineItem.vue
  frontend/components/project/history/TimelineItemBody.vue
  frontend/components/project/history/TimelineItemNoData.vue
  frontend/components/project/history/values/SimpleMessage.vue
  frontend/components/project/history/values/ValueCoverImage.vue
  frontend/components/project/history/values/ValuePartners.vue
  frontend/components/project/history/values/ValuePhases.vue
  frontend/components/project/history/values/ValueSpecial.vue
  frontend/components/project/history/values/ValueTags.vue
  frontend/components/project/history/values/ValueText.vue
  frontend/components/project/history/values/ValueWebsites.vue
Labels: Frontend, Sitebuild

#424 [UT03-980] bugfix/Fixes and refinements for changelog dialog
  django/translations/master.pot
  frontend/components/common/DigitalHealthInterventionItem.vue
  frontend/components/common/ProjectBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/project/history/TimelineItem.vue
  frontend/plugins/i18n.js
Labels: Frontend

#426 [UT03-983] Bugfix/End date is the same as start date
  frontend/store/project.js
Labels: bug, Frontend

#425 [UT03-981] [UT03-982] bugfix/Additional fixes + sentry exception
  django/project/serializers.py
  django/project/tests/project_version_tests.py
  frontend/components/common/ProjectBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/project/history/values/ValueText.vue
Labels: Frontend

#427 [UT03-985] bugfix/Changelog edge cases
  django/project/models.py
  frontend/components/common/ProjectBar.vue
  frontend/components/dialogs/ProjectHistoryDialog.vue
  frontend/components/project/history/StatusBadge.vue
  frontend/components/project/history/TimelineItem.vue
  frontend/components/project/history/TimelineItemBody.vue
  frontend/components/project/history/TimelineItemNoData.vue
  frontend/components/project/history/values/ValueTags.vue
  frontend/components/project/history/values/ValueText.vue
  frontend/store/project.js
  frontend/utilities/projects.js
Labels: Frontend

#428 [UT03-987] feature/Add Superuser as team member
  frontend/components/common/ProjectBar.vue
Labels: Frontend
